{include="header2"}


   <div class="container-fluid well well-sm" >
       <div class="row">
           
           <div class="col-sm-3  col-sm-offset-1">
                 <div class="form-group">
               <div class="input-group">
                  <span class="input-group-addon" >
                     <span class="glyphicon glyphicon-barcode" ></span>
                  </span>
                  <input id="b_codbar" class="form-control" type="text" name="codbar" placeholder="Código de barras" autofocus="" autocomplete="off"/>
               </div>
                 </div>
            </div>
       </div>
   </div>

{include="footer2"}